body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left top;

}
.flexible-container{
    display: flex;
    margin-bottom: 150px;

}
.half-width{
    padding-left:3%;
    width: 50%;
    text-align: justify;
}
.color-orange{
    color:orange;
}
.half-width img{
    width: 80%;
}
.hireMeButton{
    
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
h1{
    font-size: 50px;
}
.position-for-img{
    padding-right: 20px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;

}
